@font-face{
    font-family: primary;
    src: url("./FONT/PlusJakartaSans-Bold.ttf");
}
@font-face {
    font-family: regular;
    src: url("./FONT/PlusJakartaSans-Medium.ttf");
}
@font-face {
    font-family: semi;
    src: url("./FONT/PlusJakartaSans-SemiBold.ttf");
}
@font-face {
    font-family: lights;
    src: url("./FONT/PlusJakartaSans-Light.ttf");
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
:root{
    --clr--primary:#f1f5fb;
    --clr--secondry:#8c8e91;
    --clr--black:#252525;
    --clr--white:#ffffff;
}
body{

}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-right: 10px;
    padding-bottom: 10px ;

}
.frame{
    background-color: var(--clr--primary);
    border-radius: 10px;
}
.frame-1{
   
    
    grid-area: 1/1/18/6;
    background-color: var(--clr--primary)
}
.frame-2{
   
    grid-area: 1/6/3/25;
    
    background-color: purple;
    

}
.frame-3{
   
    grid-area: 3/6/8/12;
    
    background-color: var(--clr--primary);

    color: var(--clr--black);

    position: relative;

    font-style: normal;
    
}

.frame-3 h4{
    position: absolute;

    top: 2vw;

    left: 2vw;

    opacity: 0.5;

    font-family: regular;

    font-size: 1.4vw;

    font-weight: lighter;

   

}

.frame-3 span{

    font-family: primary;

    position: absolute;

    top: 5vw;

    left: 2vw;

    font-size: 3vw;
}
.frame-4{
   
    grid-area: 3/12/8/18;
    
    background-color:var(--clr--primary);

    position: relative;

    font-style: normal;
    
}

.frame-4 h4{

    position: absolute;

    top: 2vw;

    left: 2vw;

    opacity: 0.5;

    font-family: regular;

    font-size: 1.4vw;

    font-weight: lighter;

    
}
.frame-5{
  
    grid-area: 3/18/18/25;
    
    background-color: purple;
}
.frame-6{
    
    grid-area: 8/6/18/12;
    
    background-color: purple;
    
}
.frame-7{
  
    grid-area: 8/12/13/18;
    background-color: purple;
    
}
.frame-8{

    grid-area:13/12/18/18;
    
    background-color: var(--clr--primary)
}