@font-face{
    font-family: primary;
    src: url("./FONT/PlusJakartaSans-Bold.ttf");
}
@font-face {
    font-family: regular;
    src: url("./FONT/PlusJakartaSans-Medium.ttf");
}
@font-face {
    font-family: semi;
    src: url("./FONT/PlusJakartaSans-SemiBold.ttf");
}
@font-face {
    font-family: lights;
    src: url("./FONT/PlusJakartaSans-Light.ttf");
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
:root{
    --clr--primary:#f1f5fb;
    --clr--secondry:#dee9fb;
    --clr--black:#252525;
    --clr--white:#ffffff;
}


body{

    width: 100vw;
    height: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    background: linear-gradient(to bottom right, rgba(217, 217, 217, 0.24), rgba(217, 217, 217, 0.44), rgba(217, 217, 217, 0.81));
    /* background-color: black; */
    position: relative;
}
.nav_short{
    width: 4%;
    height: 100%;
    background-color: #f1f5fb;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: width 0.3s ease;

    
    
    
}
.navshot_animation{
    width: 17%;
    
    transition: width 0.3s ease;
}
.nav_short img{
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
}
.part1{
    display: flex;
    flex-direction: column;
    align-items: center;
   position: absolute;
   top: 1vw;
}
.part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}
.part2 img{
    width: 1.5vw;
    height: 1.5vw;
}
.part2 h4{
    font-size: 2vw;
}
.part3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.container_ease_in{
    transform: translateX(10%);
}
.nav_grow{
    width: 17%;
    height: 100%;
    background-color: #f1f5fb;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* display: none;   */
    transform: translateX(-17vw);
    
    transition: width 0.3s ease;
    transition: transform 0.5s ease;
    z-index: 10;
    
   
}
.navgrow_anm{
    transform: translateX(0);
  
    transition: transform 0.5s ease;
}

.back_arrow{
    height: 5%;
    width: 10%;
    position: absolute;
    top: 1vw;
    right: 1vw;
    cursor: pointer;
    
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .5vw;
    
    top: 1vw;
    
}
.profile h3{
    font-family:primary;
    font-size: 1.2vw;
}
.profile span{
    font-family: regular;
    font-size: .8vw;
    opacity: 40%;
}
.profile_pic{
    background: url("./IMG/photo_2024-02-14_00-27-47.jpg");
    background-size: cover;
    width: 5vw;
    height: 5vw;
    background-color: pink;
    border-radius: 50%;
}
.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    font-family:primary;
}
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    font-family:primary;
}
.nav_btn{
    
    width: 12vw;
    height: 2.5vw;
    border-radius: 10px;
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    gap: 2vw;
}
.nav_btn h4{
    font-size: 1vw;
}

.nav_sel{
    background-color: var(--clr--secondry);
}
.nav_btn img{
    margin-left: .4vw;
    width: 1.5vw;
    height: 1.5vw;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vw;
    width: 100%;
    height: 100%;

    

}





.taskbar{
    width: 55vw;
    height: 10vw;
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease;

   
}
.search-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.messeg{
   display: flex;
   gap: 1vw;
}
.search-container {
    display: flex;
    align-items: center;
    margin-top: 2vw;
    
   
}
.messeg img{
    width: 1.5vw;
    height: 1.5vw;
}



.search-input {
    
    width: 16vw;
    padding: 0.532vw;
    border: none;
    border-radius: 16px;
    padding-left: 2vw;
    transition: transform 0.3s ease;
    background: linear-gradient(to bottom right, rgba(222, 233, 251, .7), rgba(217, 217, 217, 0.44), rgba(222, 233, 251, .2));
    
}















.container{
    
    width: 55vw;
    height: 38vw;
    margin-bottom: 2vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 1vw;
    transition: transform 0.3s ease;
}
.container3{
    margin: 0.532vw;
}
.container4{
    margin: 0.532vw;
}
.container6{
   
    margin: 0.532vw;
    
}
.container7{
    margin: 0.532vw;
    width: 100%;
    height: 100%;
    position: relative;
   
}
.container8{
    margin: 0.532vw;
  }













.frame{
    background-color: var(--clr--primary);
    border-radius: 16px;
}
.frame-3{
   
    /* grid-area: 3/6/8/12; */
    display: flex;
    background-color: var(--clr--primary);

    color: var(--clr--black);
   
    
    
}
.frame-3 h5{
    color: var(--clr--black);
    font-size: 1.191vw;
    opacity: 50%;
    font-family: primary;
    margin-bottom: 0.426vw;
}

.frame-3 h3{
    color: var(--clr--black);
    font-size: 2.723vw;
    font-family: primary;
    margin-bottom: 1.362vw;
} 
.classifications{
    display: flex;
    justify-content: space-between;
    height: 20%;
    

}
.income{
  display: flex;
  width: 100%;
  height: 100%;
  
}
.income img{
    width: 2.553vw;
    height: 2.553vw;
    margin-right: 0.255vw;
}
.income h6{
    font-family: regular;
    font-size: 0.681vw;
    display: inline;
   
}
.income span{
    font-family: regular;
    font-size: 0.511vw;
    display: inline-block;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.expenses{
    display: flex;
    width: 100%;
    height: 100%;
    
}
.expenses h6{
    font-family: regular;
    font-size: 0.681vw;
    display: inline;
}
.expenses span{
    font-family: regular;
    font-size: 0.511vw;
    display: inline-block;
}
.expenses img{
    width: 2.553vw;
    height: 2.553vw;
    margin-right: 0.255vw;
}




.frame-4{
    grid-area: 1/2/1/3;   
    background-color: var(--clr--primary);
    color: var(--clr--black);
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    
   
}


.frame-4 h3{
    color: var(--clr--black);
    font-size: 1.191vw;
    opacity: 50%;
    font-family: primary;
    margin-bottom: 1.362vw;
    
    background-color:var(--clr--primary);
   
   

}
.goals{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.426vw;
    margin-bottom: 0.426vw;
}
.frame-4 hr{
    margin-bottom: 1.702vw;
}
.goals img{
    width: 1.277vw;
    height: 1.277vw;
}
.goals h4{
    font-size: .8vw;
}
.goals h5{
    font-family:primary ;
    font-size: .8vw;
}
.goals h6{
    font-family: regular;
    opacity: 40%;
    font-size: 0.596vw;
}
.goals h5{
    font-family:primary;
}




.frame-5{
  
    grid-area: 1/3/4/3; 
    padding: 1.362vw;
    
}
.partition{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.681vw;
}
.vl {
    border-left: 1.2px solid var(--clr--black);
    height: 1.362vw;
  }
.partition span{
    font-family: regular;
    font-size: 0.681vw;
    opacity: 50%;
}
.acc_cat{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.681vw;
}
.acc_cat button{
    width: 6.809vw;
    height: 1.702vw;
    background-color: var(--clr--secondry);
    border: none;
    border-radius: 10px;
    font-family: primary;
    font-size: 1.021vw;
}
.notes{
    width: 100%;
    height: 20%;
    background-color: var(--clr--secondry);
    padding: 0.532vw;
    border-radius: 10px;
    margin-bottom: 0.681vw;
}
.notes p{
    font-size: 0.681vw;
    font-family: regular;
    opacity: 50%;
}
.result{
    width: 100%;
    height: 10%;
    background-color: var(--clr--secondry);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.532vw;
    border-radius: 10px;
    margin-bottom: 0.681vw;
    font-family: primary;
    font-size: 1.702vw;
}
.result img{
    margin-left: 0.681vw;
    opacity: 48%;
}
.calc{
    width: 100%;
    height: 45%;
    background-color: var(--clr--primary);
    margin-bottom: 1.702vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.681vw;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #347cff;
    font-family: primary;
    font-size: 1.702vw;
    border-radius: 10px;
    
}
#bplus{
    grid-area: 1/1/1/1;
    background-color: var(--clr--secondry);
    border: none;
   
}
#bmin{
    grid-area: 2/1/2/1;
    background-color: var(--clr--secondry);
    border: none;
}
#bmul{
    grid-area: 3/1/3/1;
    background-color: var(--clr--secondry);
    border: none;
}
#bdiv{
    grid-area: 4/1/4/1;
    background-color: var(--clr--secondry);
    border: none;
}
#b7{
    grid-area: 1/2/1/2;
}
#b4{
    grid-area: 2/2/2/2;
}
#b1{
    grid-area: 3/2/3/2;
}
#b0{
    grid-area: 4/2/4/2;
}
#b8{
    grid-area: 1/3/1/3;
}
#b5{
    grid-area: 2/3/2/3;
}
#b2{
    grid-area: 3/3/3/3;
}
#bdot{
    grid-area: 4/3/4/3;
}
#b0{
    grid-area: 1/4/1/4;
}
#b6{
    grid-area: 2/4/2/4;
}
#b3{
    grid-area: 3/4/3/4;
}
#bequal{
    grid-area: 4/4/4/4;
    background-color: var(--clr--secondry);
    border: none;
}


.date_time{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    align-items: center;
    font-family: primary;
}
.date_time span{
    opacity: 50%;
    font-size: .8vw;
}







.frame-6{
    
    grid-area: 2/1/4/2;   
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.frame-6 h3{
    font-family: primary;
    font-size: 1.191vw;
    color: var(--clr--black);
    margin-bottom: 0.851vw;
}

.container6 hr{
    margin-bottom: 0.851vw;
}
.frame-7{
  
    grid-area: 2/2/2/2;   
}

.frame-7 h3{
    font-family: primary;
    font-size: 1.191vw;
    color: var(--clr--black);
    margin-bottom: 0.851vw;
}
.graph{
    width: 90%;
    height: 70%;
    border: 0.053vw solid black;
    border-top: none;
    border-right: none;
    display: flex;
    justify-content: flex-start;
    gap: 0.372vw;
    align-items: flex-end;
    padding-inline: 0.266vw;
}
.in_cm{
    width: 1.064vw;
    height: 3.191vw;
    background-color: #e27575;
}
.ex_cm{
   
    width: 1.064vw;
    height: 2.66vw;
    background-color: #94bb82;
}
.in_1{
    height: 6.383vw;
}
.in_2{
    height: 3.723vw;
}
.in_3{
    height: 4.787vw;
}
.in_4{
    height: 7.979vw;
}
.ex_1{
    height: 1.064vw;
}
.ex_2{
    height: 6.383vw;
}
.ex_3{
    height: 5.319vw;
}
.ex_4{
    height: 3.191vw;
}
.in_sp{
    width: 0.532vw;
    height: 10.002px;
    margin-right: .2vw;
}
.sample{
   position: absolute;
   right: 1.33vw;
   top: 2.66vw;
    
}
.income_sp{
    display: flex;   
    margin-bottom: .2vw;
}
.expense_sp{
    display: flex;
}
.sample span{
    font-size: 0.638vw;
}
.frame-8{

    grid-area:3/2/3/2;
    
    background-color: var(--clr--primary);
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    
}

.frame-8 h3{
    font-family: primary;
    font-size: 1.191vw;
    color: var(--clr--black);
    margin-bottom: 0.851vw;
} 

.pays{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.426vw;
    margin-bottom: 0.426vw;
    
}

.pays img{
    width: 1.277vw;
    height: 1.277vw;
}
.pays h5{
    font-family:primary ;
    font-size: .8vw;
}
.pays h6{
    font-family: regular;
    opacity: 40%;
    font-size: 0.596vw;
}
.pays h5{
    font-family:primary;
    font-size: .8vw;
}
.pays h4{
    font-size: .8vw;
}
